@using GridMvc.Html
@using GridMvc.Sorting
@model IEnumerable<CorgiPictures.Model.Picture>

@{
    ViewBag.Title = "Home Page";
}

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(o => o.Title)
            .Titled("Title");

    columns.Add(o => o.Created)
            .Titled("Created")
            .SortInitialDirection(GridSortDirection.Descending);

    /* Adding "Vip customer" column: */
    columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(o => "<a href=\"" + o.PictureUrl + "\" data-lightbox=\"image-1\" data-title=\"My caption\"><img class=\"picture-preview\" src=\"" + o.ThumbnailUrl + "\" /></a>");

}).WithPaging(10).Sortable().Filterable().WithMultipleFilters()